@charset "utf-8";
body {
	background-color: #F2F2F2;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

/* Button */ 

.go-top{
	position: fixed;
	bottom: 2em;
	right: 2em;
	text-decoration: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
	font-size: 16px;
	padding: 0em;
	display: none;
}

.go-top:hover{
	background-color: rgba(0, 0, 0, 0.5);
}


